@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolly {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.card-hover-animation{
  @apply hover:shadow-2xl hover:shadow-zinc-200 hover:duration-300 duration-300 transition-all border lg:hover:scale-105 border-zinc-200 cursor-pointer
}

@keyframes slideInX {
    0% {
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInY {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .modal-anim {
    animation: slideInX 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @media (max-width: 1024px) {
    .modal-anim {
      animation: slideInY 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  
  .text-selection-none {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
  }
  
  .noscrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .noscrollbar::-webkit-scrollbar {
    display: none;
  }